@using microSQL_Chian_Garcia.Instancia

@if (Data.Instancia.ArchivoReservadas.ExisteArchivoInicial && Data.Instancia.ArchivoReservadas.ErrorEnArchivo == false)
{
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Palabras reservadas cargadas</strong>
        <p>Carga correcta de archivo "MicroSQL.ini", puede editarlas posteriormente</p>
    </div>
}
@if(Data.Instancia.ArchivoReservadas.ExisteArchivoInicial == false && Data.Instancia.ArchivoReservadas.ErrorEnArchivo == false)
{
    <div class="alert alert-dismissible alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>No existe archivo "MicroSQL.ini"</strong>
        <p class="mb-0">Se ha creado un archivo con palabras reservadas de manera automática, puede editarlas posteriormente.</p>
    </div>
}

@if (Data.Instancia.ArchivoReservadas.ErrorEnArchivo)
{
   <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error en carga de archivo</strong>
       <p class="mb-0">El archivo "MicroSQL.ini" contiene un error de escritura, por favor verfique el archivo,
           recuerde que el formato es "PalabraReservada,Palabra en Nuevo Idioma" .</p>
    </div>
}