@using microSQL_Chian_Garcia.Instancia


@foreach (var item in Data.Instancia.EditorTexto.PalabrasReservadas)
{

    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
        <button type="button" class="btn btn-primary">@item.Key</button>
        <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 36px, 0px);">

                <a class="dropdown-item" href="#">@item.Value</a>
            </div>
        </div>
    </div>
}
