@using microSQL_Chian_Garcia.Instancia

@{
    ViewBag.Title = "TablaPalabras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br/>
<h2>Palabras reservadas</h2>
<br/>
<table class="table table-hover">
    <tr class="success">
        <th scope="col">Lenguaje original</th>
        <th scope="col">Lenguaje propio</th>
        <th scope="col"></th>
    </tr>
    
    @foreach (var item in Data.Instancia.EditorTexto.PalabrasReservadas)
    {
        <tr>
            <td>
                @item.Key
            </td>
            <td>
                @item.Value
            </td>
            <td>
                @Html.ActionLink("Editar","",new {id = item.Key})
            </td>
        </tr>
    }

</table>

